<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<p>
  <strong><%= Report.human_attribute_name(:created_by) %></strong>
  <% created_by = @report.created_by%>
  <%= created_by.name.present? ? created_by.name : created_by.email %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %></strong>
  <%= @report.created_at.strftime("%Y/%m/%d %H:%M") %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<% if current_user == created_by %>
  <%= link_to t('views.common.edit'), edit_user_report_path(created_by.id, @report.id) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
